*{
    padding: 0;
}
.page_container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 1366px;
    height: 770px;
    background-image: url(../images/bg_flat.png);
}
.header_container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 58px;
    background-color: rgb(0, 0, 0, 0.4);
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    padding-left: 79px;
    transition: color 0.2s;
}
.header_menu{
    display: flex;
    align-items: center;
    padding-right: 79px;
    gap: 50px;
}
.header_btn_list{
    display: flex;
    width: 126px;
    justify-content: space-between;
}
.header_btn_list::after{
    content: "";
    height: 19px;
    width: 1px;
    background-color: #FFF;
    position: relative;
    left: 24px;
    top: 5px;
}
.btn{
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s;
}
.log_btn{
    display: flex;
    color: #FFF;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.header_login{
    display: flex;
    gap: 8px;
}
/* ___header_btn___ */
.header_btn_1{
    width: 21px;
    height: 24px;
    background-image: url(../images/calendar-alt-regular\ 2.svg);
    background-size: contain;
}
.header_btn_1:hover{
    background-image: url(../images/calendar-alt-regular\ 1.svg);
    background-size: contain;
}
.header_btn_2{
    width: 23px;
    height: 23px;
    background-image: url(../images/envelope-open-regular\ 1.svg);
    background-size: contain;
}
.header_btn_2:hover{
    background-image: url(../images/envelope-open-regular\ 1\ \(1\).svg);
    background-size: contain;
}
.header_btn_3{
    width: 23px;
    height: 24px;
    background-image: url(../images/compass-regular\ 1.svg);
    background-size: contain;
}
.header_btn_3:hover{
    background-image: url(../images/compass-regular\ 1\ \(1\).svg);
    background-size: contain;
}
/* ___Main___ */
.main_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register_or_login{
    width: 444px;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FFF;
}
/* __Logine_zone__ */
.login_zone{
    display: flex;
    flex-direction: column;
    padding-top: 31px;
}
.login{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 322px;
    position: relative;
}
.login::after{
    content: "";
    background-color: #3CB878;
    width: 18px;
    height: 18px;
    position: absolute;
    left: -60px;
}
.su_title{
    color: #434343;
    text-align: center;
    font-family: Ubuntu;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}
.lg_title{
    color: #3CB878;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.sign_up_btn{
    padding-top: 15px;
    display: flex;
    gap: 4px;
    padding-bottom: 31px;
}
.su_btn{
    width: 160px;
    height: 48px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.su_img{
    padding-left: 10px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.su_img::after{
    content: "";
    height: 28px;
    width: 1px;
    opacity: 0.1;
    background-color: #0A162F;
    position: relative;
    right: -15px;
}
.su_txt{
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 272px;
}
.facebook{
    width: 160px;
    height: 48px;
    background-color: #305DB8;
}
.google{
    width: 160px;
    height: 48px;
    background-color: #DF4A32;
}
/* ____or____ */
.or_line{
    color: #848484;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    padding-bottom: 12px;
}
.or_line::after{
    content: "";
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    position: relative;
    top: 50%;
    left: 5px;
}
.or_line::before{
    content: "";
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    position: relative;
    top: 50%;
    right: 5px;
}
/* ___form___ */
.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.input_zone{
    width: 324px;
    height: 44px;
    border-radius: 4px;
    padding-left: 0.7rem;
    border: 1px solid #F2F2F2;
    transition: border-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;
}
/* ___checkbox___ */
.checkbox_container{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    padding-bottom: 20px;
}
.checkbox_txt{
    display: flex;
    color: #434343;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.checkbox_txt p{
    color: #3CB878;
}
.checkbox_btn{
    cursor: pointer;
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid #F2F2F2;
}
.checkbox_btn::after{
    background-color: #FFF;
    border: 1px solid #F2F2F2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.checkbox_btn:checked::before{
    content: "";
    background-color: #FFF;
    background-image: url(../images/Vector\ 1.svg);
    background-size:cover;
    border: 1px solid #F2F2F2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
::placeholder{
    padding-left: 20px;
    color: #BEBEBE;
    font-family: Ubuntu;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
/* ___create_account___ */
.create_acaunt{
    width: 324px;
    height: 46px;
    border-radius: 4px;
    background-color: rgba(60, 184, 120, 0.80);
    color: #FFF;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
/* ___hover___ */
.logo:hover{
    color: #3CB878;
}
.facebook:hover{
    background-color: #022263;
}
.google:hover{
    background-color: #AB1F09;
}
.create_acaunt:hover{
    background-color: #01813F;
}
.input_zone:focus{
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.21));
    border-color: #F2F2F2;
    outline: 0;
}
.lg_title:hover{
    color: #01813F;
    text-decoration:underline;
}
.log_btn:hover h3{
    color: #3CB878;
}
